body {
    margin: 20px;
    padding: 0;
    height: calc(100dvh - 40px);
    width: calc(100dvw - 40px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.icon {
    height: 40px;
    width: 40px;
}

.icon-small {
    font-size: large;   
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

